<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GIDClientID</key>
	<string>688227574117-5gic1oefpjvnlrfvqa4rjkdsbbfs161f.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>obsidianledger</string>
				<string>com.googleusercontent.apps.688227574117-5gic1oefpjvnlrfvqa4rjkdsbbfs161f</string>
			</array>
		</dict>
	</array>
	<key>RESEND_API_KEY</key>
	<string>$(RESEND_API_KEY)</string>
</dict>
</plist>
